<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title> Youtube to MP3 Converter </title>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6255194662875295"
     crossorigin="anonymous"></script>
</head>
<body>
    <div class="container_1">
    <form action="/convert-mp3" method="POST">
      <h1 class="title"> Youtube to MP3 Converter </h1>
      <div>
        <input class="searchbar" type="text" name="videoID" placeholder="Video ID"> 
        <button id="convert-btn"> Convert </button>
      </div>
    </form>

    <% if(typeof success != "undefined" && success) { %>
      <div class="success">
        <p><%= song_title %></p>
        <a href="<%= song_link %>"> <button id="download-btn"> DOWNLOAD </button> </a>
      </div>
    <% } else if(typeof success != "undefined" && !success) { %>
      <div class="errors">
        <p><%= message %></p>
      </div>
    <% } %>
    </div>

    <div class="container_2">
      <h1 class="title"> How to use YU2MP3 </h1>
      <h2> Step 1: Go to youtube website and click the video you want to download. </h2>
      <img src="/tutorial/tutorial_1.png">
      <h2> Step 2: Click the search bar and copy the video id. </h2>
      <img src="/tutorial/tutorial_2.png">
      <h2> Step 3: Paste the video id to YU2MP3 and click convert. </h2>
      <img src="/tutorial/tutorial_3.png">
      <h2> Step 4: Click download. </h2>
      <img src="/tutorial/tutorial_4.png">
      <h1> Contact Us </h1>
      <h3> For any inquiries related to copyright, technical issues, or other concerns, please feel free to reach out. </h3>
      <h1> Email: yu2mp3@gmail.com </h1>
    </div>

    <div class="container_3">
       <p id="allright"> &copy; 2025 YU2MP3 - All rights reserved. </p>

       <form action="/privacypolicy" method="GET">
         <button id="privacypolicy"> Privacy Policy </button>
       </form>
    </div>

</body>
</html>
