body{
  background-color: rgb(73,22,90);
}
.container_1{
  text-align: center;
}
.title{
  font-size: 3.5vw;
  color: red;
  font-family: "Comic Sans MS";
}
.searchbar{
  font-size: 2vw;
  width: 30%;
  border: solid black;
  border-radius: 10px;
  background-color: white;
  font-family: "Comic Sans MS";
}
#convert-btn{
  font-size: 2.35vw;
  border: solid red;
  border-radius: 20px;
  background-color: red; 
  color: white; 
  font-family: "Comic Sans MS";
  transition: 0.3s ease-out;
}
#convert-btn:hover{
  background-color: green;
  border: solid green;
}
.success{
  font-size: 2vw;
  color: red;
  font-family: "Comic Sans MS";
}
.errors{
  font-size: 2vw;
  color: white;
  background-color: red;
  margin-left: 30%;
  width: 40%;
  font-family: "Comic Sans MS";
}
#download-btn{
  font-size: 2.35vw;
  border: solid red;
  border-radius: 20px;
  background-color: red; 
  color: white; 
  font-family: "Comic Sans MS";
  transition: 0.3s ease-out;
}
#download-btn:hover{
  background-color: green;
  border: solid green;
}

.container_2{
  background-color: rgb(68,48,75);
  border: 5px solid rgb(44,14,53);
  border-radius: 50px;
  margin-top: 5%;
  margin-left: 25%;
  width: 50%;
  height: 100%;
  text-align: center;
  color: red;
  font-family: "Comic Sans MS";
}
img{  
  width: 80%;
  border: 5px solid rgb(44,14,53);
}

.container_3{  
  width: 100%;
  height: 8vw;
  background-color: rgb(44,14,53);
  color: red;
  margin-bottom: -3%;
}
#allright{
  font-size: 3vw;
  padding-top: 2.5%;
  text-align: center;
}

h1{
  font-size: 2.5vw;
}
h2{
  font-size: 1.89vw;
}
h3{
  font-size: 1.5vw;
}